# Duplicated from https://github.com/cedrickchee/gopl-examples/blob/main/.gitignore
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore certain files without extension
!Makefile

### Above combination will ignore all files without extension ###

# Ignore `bin` dir
**/bin/*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of the go test tool built-in support for several kinds of profiling
*.log

# Secrets, keys, sensitive configurations
.config/
env